body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Monaco", sans-serif;
    padding: 1em 3em;
    background: rgb(117, 122, 124);
    color: white;
  }
  

  .tooltip {
    display: block;
    position: fixed;
    height: fit-content;
    width: fit-content;
    color:white;
    stroke-opacity: 1.0;
    background-color: rgb(117, 122, 124);
    opacity: 0.6;
    pointer-events: stroke;
    padding: 5px;
  }
  
  path.state {
    stroke: white; 
  }


.side-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: red;
  border-radius: 2px;
}